.div-loginform {
  margin: 10px;
  margin: 0px auto;
  width: 15%;
  text-align: center;
}
.login-link {
  color: red;
}
.login-link {
  color: #61dafb;
}
.navlink-div {
  margin-top: 0.5%;
}
.login-input {
  text-align: center;
}
.login-errormsg {
  color: red;
}
