.grid {
  background-color: #e9ecef;
  width: 28%;
  opacity: 0.9;
  border: 2px solid grey;
  margin: 0px auto;
}
.test {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
.button {
  margin-bottom: 2%;
}
.link {
  color: #33c9dc;
}
.link:hover {
  text-decoration: none;
}
