.login-link {
  color: lightslategrey;
}
.navlink-div {
  margin-top: 0.5%;
}
.login-input {
  text-align: center;
}
.login-div {
  width: 25%;
  margin: 0px auto;
  background-color: #e9ecef;
  border: 2px solid gainsboro;
  opacity: 0.9;
  filter: alpha(opacity=60);
  margin-top: 4.5%;
}
.login-button-div {
  margin-bottom: 1%;
}
.login-form {
  margin: 3.5%;
}
.username-password {
  text-align: center;
}
.username-username {
  text-align: center;
}
.login-form-label {
  color: lightslategray;
  font-style: italic;
}

