.login-div {
  width: 25%;
  margin: 0px auto;
  background-color: #e9ecef;
  border: 2px solid grey;
  opacity: 0.9;
  filter: alpha(opacity=60);
  margin-top: 7.5%;
  position: relative;
}
.login-form {
  margin: 1%;
  width: 95%;
}
.login-form-div {
  margin: 0 auto;
  margin-top: 5%;
  width: 55%;
}
.login-form-label {
  color: lightslategray;
  font-style: italic;
  font-weight: bold;
  margin-top: 1.2%;
}
.login-input {
  text-align: center;
}
.login-button-div {
  margin-bottom: 1%;
}
.login-link {
  color: lightslategrey;
}
.navlink-div {
  margin-top: 0.5%;
}
.username-password {
  text-align: center;
}
.username-username {
  text-align: center;
}
