html,
body {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-align: center;
  margin: 0px auto;
  zoom: 100%;
}
.navbar-border {
  border-bottom: 2px gainsboro solid;
  height: 55px;
}
.jumbotron-border {
  border-bottom: 2px gainsboro solid;
  opacity: 0.9;
  filter: alpha(opacity=60);
  height: 40px;
}
.header-title {
  color: lightslategray;
  font-style: italic;
}
.wrapper {
  background: url("Image/office.jpg") center fixed;
}
.pointer {
  cursor: pointer;
}
