html,
body {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-align: center;
  margin: 0px auto;
  zoom: 100%;
}
.navbar-border {
  border-bottom: 2px gainsboro solid;
}
.jumbotron-border {
  border: 2px gainsboro solid;
}
.header-title {
  color: lightslategray;
  font-style: italic;
}
.header-subtitle {
  color: lightslategray;
  font-style: italic;
}
