.deviationlist-hours {
  margin-left: 0.5%;
  margin-bottom: 0.25%;
  width: 2.1%;
}
.deviationlist-hours:hover {
  border-color: #61dafb;
}
.deviationlist-description {
  width: 12.7%;
  margin-left: 0.2%;
}
.deviationlist-description:hover {
  border-color: #61dafb;
}
.deviationlist-main-div {
  margin: 0% auto;
}
.mainUserInfo-div {
  text-align: center;
  border: solid 1px lightslategrey;
  width: 11%;
  margin: 0px auto;
  display: inline-block;
  margin-bottom: 0.2%;
}
.maininfo-checkbox {
  text-align: center;
  width: 15px;
  height: 15px;
  border: 1px solid #61dafb;
  margin-left: 3%;
}
.timereport-logout-button-div {
  margin-top: 0.4%;
}
.DayPicker-Day--today {
  color: coral;
}
.DayPicker-Day--disabled {
  color: red;
}
.DayPicker-wrapper {
  outline: none;
}
.DayPicker-Caption {
  margin: 0px auto;
  text-align: center;
}
.month-dropdown {
  margin: 0.1%;
  background: #443232;
  color: #61dafb;
}
.year-dropdown {
  margin: 0.1%;
  background: #2d2d2d;
  color: #61dafb;
}
.YearNavigation {
  display: inline-block;
  border: 1px solid lightslategrey;
  position: absolute;
  right: 60%;

}
.deviationList {
  margin-top: 0.5%;
}
.infoToggleBox {
  display: inline-block;
  border: 1px solid lightslategrey;
  position: absolute;
  right: 61%;
  margin-top: 15%;
}
