.deviationlist-div {
  margin: 0 auto;
}
.deviationlist-hours {
  margin-left: 0.5%;
  margin-right: 0.2%;
  margin-bottom: 0.2%;
  width: 1.5%;
}
.deviationlist-description {
  width: 8%;
}
.deviationlist-main-div {
  margin: 0 -20%;
}
