.deviationlist-hours {
  margin-left: 0.5%;
  margin-bottom: 0.25%;
  width: 2.1%;
}
.deviationlist-hours:hover {
  border-color: #61dafb;
}
.deviationlist-description {
  width: 12.7%;
  margin-left: 0.2%;
}
.deviationlist-description:hover {
  border-color: #61dafb;
}
.deviationlist-main-div {
  margin: 0% auto;
}
.mainUserInfo-div {
  text-align: center;
  border: solid 1px lightslategrey;
  width: 11%;
  margin: 0px auto;
  display: inline-block;
  margin-bottom: 0.2%;
}
.timereport-logout-button-div {
  margin-top: 0.4%;
}
.DayPicker-Day--today {
  color: coral;
}
.DayPicker-Day--disabled {
  color: red;
}
.DayPicker-wrapper {
  outline: none;
}
.DayPicker-Caption {
  margin: 0px auto;
  text-align: center;
}
.month-dropdown {
  margin: 0.1%;
  background: #443232;
  color: #61dafb;
}
.year-dropdown {
  margin: 0.1%;
  background: #443232;
  color: #61dafb;
}
.YearNavigation {
  border: 1px solid lightslategrey;
  width: 14%;
  margin: 0px auto;
  margin-top: 0.2%;
  background: #252525;
}
.deviationList {
  margin-left: -3.8%;
  margin-top: 0.5%;
}
.deviation-button {
  margin-left: 3%;
}
.error-msg {
  color: red;
}
.success-msg {
  color: green;
}
.mainInfo-checkbox-status {
  width: 15px;
  height: 15px;
  margin-left: 3%;
}
.listGroupItem {
  background: #252525;
}
