.userhistorylist-main {
  color: lightslategray;
  background: gainsboro;
}
.userhistory-title {
  margin-top: 0.5%;
  font-style: bold;
  text-underline-position: below;
  border-bottom: 1px solid lightslategray;
  padding-bottom: 0.8%;
}
.userlist-main {
  color: lightslategray;
  width: 25%;
  background: gainsboro;
  position: absolute;
}
.userlist-main-div {
  margin-left: 1%;
  margin-top: 5%;
  position: absolute;
}
.userlist-buttons {
  color: gainsboro;
  border-radius: 5%;
}
.useractivereport-main-div {
  margin: 0% auto;
}
.useractivereport-div {
  width: 33%;
  margin: 0px auto;
  margin-top: 5%;
  height: 800px;
}
.userhistory-div {
  float: right;
  margin: 0% auto;
  margin-right: 2%;
  margin-top: 5%;
  width: 25%;
  color: lightslategray;
  background: gainsboro;
  border: 2px solid black;
}
.adminform-form {
  border: 1px solid black;
  margin: 0px auto;
  width: 25%;
  opacity: 0.8;
  margin-bottom: 0.5%;
  filter: alpha(opacity=60);
  background: white;
}
.adminform-button {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
}
