.userlist-main {
  color: #61dafb;
  width: 25%;
}
.userlist-main-div {
  width: 15%;
}
.userlist-buttons {
  color: #61dafb;
  border-radius: 5%;
}
.userlist-title {
  margin: 2%;
  margin-left: 55%;
  color: #61dafb;
}
