.register-div {
  margin: 0px auto;
  width: 25%;
}
.button-register-div {
  margin: 1.5%;
}
.register-input {
  text-align: center;
}
.register-input-deparment {
  text-align: center;
  margin: 0px 60%;
}
.register-department-label {
  text-align: center;
  margin: 1.5% 95%;
}
.register-errormsg {
  color: red;
}
.register-successmsg {
  color: green;
}
