.register-form {
  width: 40%;
  margin: 0% auto;
  background-color: #e9ecef;
  border: 2px solid gainsboro;
  opacity: 0.9;
  filter: alpha(opacity=60);
  margin-top: 2%;
}

.button-register-div {
  margin: 1.5%;
}
.register-formgroup {
  margin-left: 15%;
  margin-top: 2%;
}
.register-label {
  color: lightslategray;
  font-style: italic;
  font-weight: bold;
}
.register-input {
  text-align: center;
}
.register-department-label {
  color: lightslategray;
  font-style: italic;
  font-weight: bold;
  margin-right: 19.5%;
}
.register-department-input {
  margin-left: 90%;
}
